{% extends "main.html" %}
{% block content %}
<form  method="POST" action="added" role="form">
  <input type="hidden" name="class_id" value={{class_id}}>
  <input type="hidden" name="teacher_id" value={{teacher_id}}>
  <input  name='date' type='date' class="form-control" />
  <input type="text" class="form-control"  placeholder="name" name="name">
  <input type="text" class="form-control"  placeholder="description" name="description">
  <br>
  <button type="submit" class="btn btn-success">Add</button>
</form>
{% endblock %}
