{% extends "main.html" %}
{% block content %}
<table class="table">
  <form  method="POST" action="add" role="form">
    <tr>
      <input type="hidden" name="teacher_id" value={{teacher_id}}>
      <select size="1" class="form-control" name="class_id">
        {% for id, text in teacher_classes %}
        <option value={{id}}>{{text}}</option>
        {% endfor %}
      </select>
    </tr>
    <tr>
      <td>Студент</td>
      {% for row, id in hzipped %}
      <input type="hidden" name="column_id" value={{id[0]}}>
      <td>{{row}}</td>
      {% endfor %}
      <td><button type="submit" class="btn btn-success">new</button></td>
    </tr>
  </form>
  
  {% for row, id in bzipped %}
  <form  method="POST" action="update" role="form">
    <tr>
      <input type="hidden" name="student_id" value={{id[0]}}>
      <input type="hidden" name="teacher_id" value={{teacher_id}}>
      {% for val in row %}
      <td>{{val}}</td>
      {% endfor %}
      <td><button type="submit" class="btn btn-success">update</button></td>
    </tr>
  </form>
  {% endfor %}
</table>
{% endblock %}
